.slider {
	.owl {
		&-nav {
			position: absolute;
		    bottom: -0.186em;
			right: auto;
			span {
				display: none;
			}
		}
		&-prev, &-next {
			width: 5em;
			height: 5em;
			position: relative;
			background-color: #fff !important;
			transition: background-color $trsn;
			outline: none;
			&:before {
				position: absolute;
				content: '';
				width: 1em;
				height: 1.143em;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				background: url("../img/style/slider_arrow.svg") no-repeat center center !important;
				background-size: contain;
			}
			&:hover {
				background-color: $color_main_hover !important;
			}
		}
		&-prev {
			&:before {
				transform: translate(-50%, -50%) rotate(-180deg);
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.slider {
		.owl {
			&-nav {
				bottom: -0.2em;
			}
			&-prev, &-next {
				width: 4em;
				height: 4em;
			}
		}
	}
}