//шрифты
$font_size_default: 14;
$font_size: 14px;
$line_height: 20px;
$font_weight: 400;

$font_base: 'HelveticaNeueCyr', sans-serif; 

//цвета
$color_text: #000000;
$color_main: #f77e0b;
$color_main_hover: #f9ab61;
$color_bg: #fff;

$color_white: #ffffff;
$color_black: #000;

//отступ
$padding: 0px;



//
$trsn: 0.2s;